<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12">

            <div class="form">
                <div class="mb-3 text-center">
                    <h2 class="text-uppercase">Login to Lyfecompany</h2>
                </div>
                <form [formGroup]="form" class="mb-2">
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email">
                        <mat-error>Please enter valid email</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput formControlName="password">
                        <mat-error>Please provide a valid password</mat-error>
                    </mat-form-field>
                    <div class="mb3">
                        <button type="button" mat-raised-button color="accent" [disabled]="!form.valid"  *ngIf="!(loading$ | async)"
                            (click)="onLogIn()">Log
                            in</button>
                        <button type="button" mat-raised-button color="primary"  *ngIf="loading$ | async"
                        >Loading</button>
                    </div>
                </form>
                <span class="text-center">Or</span>
                <div>
                    <a routerLink="/register" routerLinkActive="active" class="text-center">Register here</a>
                    <hr>
                    <p class="text-center">&COPY; All right Lyfecompany</p>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <!-- <button type="button" mat-raised-button color="warn" (click)="onLogout()">Logout</button> -->
        </div>
    </div>
</div>