<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">

            <div class="form">
                <div class="mb-3 text-center">
                    <h2 class="text-uppercase mb-3">Lyfecompany</h2>
                    <h3>CREATE ACCOUNT</h3>

                </div>
                <form [formGroup]="registerForm" class="mb-2">

                    <mat-form-field appearance="outline">
                        <mat-label>Username</mat-label>
                        <input matInput formControlName="username">
                        <mat-error>Please enter valid username</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email">
                        <mat-error>Please enter valid email</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput formControlName="password">
                        <mat-error>Please provide a valid password</mat-error>
                    </mat-form-field>
                    <button type="button" mat-raised-button color="primary" [disabled]="!registerForm.valid"
                        (click)="onRegister()">Log
                        in</button>
                </form>
                <span class="text-center">Or</span>
                <div>
                    <button mat-flat-button routerLink="/login" routerLinkActive="active">SingIn</button>

                    <hr>
                    <p class="text-center">&COPY; All right Lyfecompany</p>
                </div>
            </div>
        </div>
    </div>
</div>