.grid-container {
    margin-left: 20px;
}

.badge-success {
    color: white;
    background-color: rgb(13, 102, 32);
}

.badge-danger {
    color: white;
    background-color: #f44336;
    font-weight: 500;
}

.badge-warn {
    color: white;
    background-color: #f44336;
}

table {
    width: 100%;
}

.add {
    border: 1px solid #eee;
    box-shadow: 0px 5px 5px #333;
}

.select-row {
    cursor: pointer;
}
.example-container {
    height: 400px;
    overflow: auto;
  }

tr.mat-mdc-footer-row {
    font-weight: bold;
}

.mat-mdc-table-sticky {
    border-top: 1px solid #e0e0e0;
}